<footer class="bg-mainPurple text-white shadow-lg">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 items-start">

            <div class="flex flex-col items-center sm:items-start space-y-6">
                <a routerLink="" class="flex-shrink-0">
                    <img src="logo.webp" class="w-32 h-auto" alt="Logo" />
                </a>
                <div class="flex items-center gap-4">
                    <a href="#" class="hover:opacity-80 transition-opacity">
                        <img src="instagram.webp" alt="Instagram" class="w-8 h-8">
                    </a>
                    <a href="#" class="hover:opacity-80 transition-opacity">
                        <img src="x.webp" alt="X" class="w-8 h-8">
                    </a>
                    <a href="#" class="hover:opacity-80 transition-opacity">
                        <img src="linkedin.webp" alt="LinkedIn" class="w-8 h-8">
                    </a>
                </div>
            </div>

            <div class="flex flex-col items-center sm:items-start space-y-3">
                <h3 class="font-semibold text-lg mb-2">Enlaces</h3>
                <a href="sobre-nosotros" class="text-sm hover:text-purple-200 transition-colors">Sobre nosotros</a>
                <a href="trabaja-con-nosotros" class="text-sm hover:text-purple-200 transition-colors">Trabaja con nosotros</a>
            </div>


            <div class="flex flex-col items-center sm:items-start space-y-3">
                <h3 class="font-semibold text-lg mb-2">Legal</h3>
                <a href="cookies" class="text-sm hover:text-purple-200 transition-colors">Cookies</a>
                <a href="privacy" class="text-sm hover:text-purple-200 transition-colors">Política de privacidad</a>
            </div>
        </div>

        <div class="mt-8 pt-6 border-t border-white/10 text-center text-sm">
            <p>&copy; 2025 TicketFlow. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
